/* 导航栏的css修饰*/
 .bar {
     height: auto;
     width: 100%;
     /* margin-left: 0; */
    background: #0593d3;
    position: fixed;
    /* top:0;
    margin-bottom: 5px; */
    font-size: 20px;
 }
 
.bar ul {
    list-style-type: none;
   	margin: 0;
    padding: 0;
   	overflow: hidden;
    background-color: #0593d3;
		}

.bar li {
    float: left;
	}
	
.bar li a {
   	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
		}

.bar li a:hover {
    background-color:#0482ba;
	}


.logo{
        color:white;
        /* height: 49px; */
        float: left;
        padding: 6px;
        margin-left: 15px;
        font-size: 30px;
        /* position: fixed; */
    }
    .login{

        color:white;
        /* height: 49px; */
        float: right;
        /* padding: 10px; */
        margin-right: 10px;
        /* padding-top: 0px;
        font-size: 30px;
        position: absolute; */
    }