

#header {
    position: absolute;
    background-color: #66CCFF;
    height: 120px;
    width: 100%;
   
}
#logo {
   color: white;
   float: left;
   height: 120px;
}

#nav {
    float:right;
    margin-top: 90px;
    margin-right: 20px;
    padding: 12px;
}
.font_he{
    color: white;
    border: 1px solid;
    text-decoration: none;
    font-weight: 200;
   
}
